@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

img {
    width: 100%;
}

a {
    display: inline-block;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.text-white{
    color: white;
}

.text-gray{
    color: gray;
}


